@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* En tu archivo CSS */
@keyframes gradientTransition {
  0% {
    background: black;
  }
  100% {
    background: linear-gradient(to left, #6FE3C5, #573BD5, #20183F);
  }
}

.animate-gradient {
  animation: gradientTransition 5s forwards;
}
